@model PetGrooming.Models.Pet

@{
    ViewBag.Title = "Show";
}

    <div class="container">
        <div class="container">
            <h2>Show Pet</h2>


            <div class="btn-group">
                <a class="btn btn-info" role="button" href="/Pet/Update/@Model.PetID">Edit</a>
                <a class="btn btn-info" role="button" href="/Pet/Delete/@Model.PetID">Delete</a>
            </div>

        </div>
        



        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">Name:</div>
                <div class="panel-body"> @Model.PetName</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Weight:</div>
                <div class="panel-body"> @Model.Weight</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Species:</div>
                <div class="panel-body"> @Model.Species.Name</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Color:</div>
                <div class="panel-body"> @Model.Color</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Notes:</div>
                <div class="panel-body"> @Model.Notes</div>
            </div>
        </div>

    </div>

